name: Lint

on:
  workflow_call:
  workflow_dispatch:

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install ruff
        run: pip install ruff

      - name: Ruff check
        run: ruff check --output-format=github .

      - name: Ruff format check
        run: ruff format --check .

      - name: Typos check
        uses: crate-ci/typos@v1
        with:
          config: ""
